.destination {
    margin-top: 8.5rem;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/hawaii.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}